.apresentação{
    background-color: white;
    font-weight: bold
}
.adicionar {
    background-color: green;
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 30px;/*margem abaixo do botão*/
    /*da mesma forma "padding" controla as margens internas do elemento*/
    font-weight: bold;
}
.remover {
    background-color: red;
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold
}
.mostrar {
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold
}
.salvar {
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold
}
